/* Loader CSS */
.loader {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #000;
    animation: l5 1s infinite linear alternate;
    margin: 20px auto; /* Center horizontally */
    display: inline; /* Initially hidden */
}



@keyframes l5 {
    0% {
        box-shadow: 20px 0 #000, -20px 0 #0002;
        background-color: #000;
    }
    33% {
        box-shadow: 20px 0 #000, -20px 0 #0002;
        background-color: #0002;
    }
    66% {
        box-shadow: 20px 0 #0002, -20px 0 #000;
        background-color: #0002;
    }
    100% {
        box-shadow: 20px 0 #0002, -20px 0 #000;
        background-color: #000;
    }
}
